<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webcam Stream</title>
    <style>
        body {
            margin: 0;
            overflow: hidden; /* Evita el desbordamiento y barras de scroll */
        }
        img {
            width: 100vw; /* Ocupa el 100% del ancho de la ventana */
            height: 100vh; /* Ocupa el 100% de la altura de la ventana */
            object-fit: cover; /* Ajusta la imagen sin distorsión, cubriendo el contenedor */
            display: block; /* Evita espacios adicionales debidos a elementos en línea */
        }
    </style>
</head>
<body>
    <img src="{{ url_for('video_feed') }}">
</body>
</html>
